// main colors
$scoRed: #df533f;
$scoMedGray: #605f63;

//other reds
$scoDarkRed: #c1301d;
$scoBrickRed: #991909;
$scoFireRed: #9e191c;
$scoMedDarkRed: #c23335;
$scoLightRed: #dc585b;
$scoSalmon:	#fa7867;
$scoPink: #ffa093;

//other grays
$scoDarkGray: #424145;
$scoMedLightGray: #7d7c80;
$scoLightGray: #efefef;

//tertiary colors
$scoDarkOrange: #ef670f;
$scoOrange: #fb8b41;
$scoLightOrange: #ffa265;
$scoGreen: #327069;
$scoMedGreen: #518782;
$scoLightGreen: #76a09c;

//palette text colors
$paletteLight: #f0f0f0;

