ul.nav ul li.active a{
	background: transparent; 
	border-left:2px solid $scoDarkRed;
}

ul.nav ul li.active ul li a{
	border-left:0px solid $scoDarkRed;
}


ul.nav ul li.active a:hover{
	background: transparent; 
	border-left:1px solid $scoDarkRed;
}

ul.nav ul li a:hover, ul.nav a:hover{
	background: transparent;
	color: $scoDarkRed;
	border-left:1px solid $scoDarkRed;
}

ul.nav{
	padding-left: 0; 
	margin-left: 0; 
}

ul.nav ul ul{
	padding-left: 30px;
	display: none;
}

ul.nav ul ul li a{
	padding: 5px;
}

ul.nav ul li.active ul{
	display: block;
}

ul.nav{
	min-width: 300px;
}

.affix{
	top:130px;
}